In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("human_study/data/processed/gpt-4o-mini-2024-07-18_mop_new_human_stories_annotations.csv")
df.iloc[:2].T

,0,1
authenticity_explanation,The dialogue captures the awkwardness and conf...,The writing feels true to real human experienc...
authenticity_score,4.0,4.0
emotion_provoking_explanation,"The piece showcases a range of emotions, parti...",The story successfully depicts emotional exper...
emotion_provoking_score,4.0,4.0
empathy_explanation,Readers can empathize with the protagonist's f...,The text allows readers to empathize with the ...
empathy_score,4.0,4.0
engagement_explanation,The humorous and relatable setup draws the rea...,The narrative draws the reader in through its ...
engagement_score,4.0,4.0
narrative_complexity_explanation,The narrative presents an interesting dynamic ...,The characters are multifaceted and exhibit in...
narrative_complexity_score,4.0,4.0
human_likeness_explanation,"The conversational style, awkwardness, and emo...",The intricacies in character development and d...
human_likeness_score,4.0,5.0
persona,You are a helpful AI who specializes in evalua...,You are a helpful AI who specializes in evalua...
story,"�Son, we need to talk.�\n\nOf course, here it ...","The hills I had known were really mountains, a..."
timestamp,2025-03-12 16:53:26,2025-03-12 16:53:29
temperature,NaN,NaN
participant_id,0,0
time_taken,5.390048,3.798209
story_id,new_0a,new_0b
premise_id,0,0
premise,"You don't know it, but you're the child of a h...","You don't know it, but you're the child of a h..."
text,"�Son, we need to talk.�\n\nOf course, here it ...","The hills I had known were really mountains, a..."
author_type,Human,Human
author_short,Human-Advanced,Human-Intermediate
author_full,Human-Advanced,Human-Intermediate
net_upvotes,264,74
Column1,NaN,NaN
_1,NaN,NaN
_2,NaN,NaN
_3,NaN,NaN

In [3]:
# df has a row for each story and each persona
df["participant_id"].value_counts(), df["story_id"].value_counts()

(participant_id
 0    15
 1    15
 2    15
 3    15
 4    15
 Name: count, dtype: int64,
 story_id
 new_0a    5
 new_0b    5
 new_0c    5
 new_1a    5
 new_1b    5
 new_1c    5
 new_2a    5
 new_2b    5
 new_2c    5
 new_3a    5
 new_3b    5
 new_3c    5
 new_4a    5
 new_4b    5
 new_4c    5
 Name: count, dtype: int64)

In [4]:
# Average scores across the five personas.
COLS_TO_AGG = [
    'authenticity_score',
    'emotion_provoking_score',
    'empathy_score',
    'engagement_score',
    'narrative_complexity_score',
    'human_likeness_score',
    'time_taken',
]
KEYS = ["story_id"]

In [5]:
df_agg = df.groupby(KEYS)[COLS_TO_AGG].mean().reset_index()
df_agg

,story_id,authenticity_score,emotion_provoking_score,empathy_score,engagement_score,narrative_complexity_score,human_likeness_score,time_taken
0,new_0a,4.2,4.0,4.2,4.4,3.8,4.2,5.458487
1,new_0b,4.0,4.0,3.8,4.4,4.4,5.0,6.232478
2,new_0c,3.2,4.0,3.4,4.4,3.2,4.0,5.563974
3,new_1a,4.4,4.8,4.6,5.0,4.4,5.0,5.057162
4,new_1b,4.0,4.0,3.6,4.6,3.0,4.0,5.033504
5,new_1c,3.6,2.4,2.4,3.6,2.0,4.0,4.525945
6,new_2a,4.0,4.0,3.8,4.4,3.0,4.0,5.862401
7,new_2b,3.6,2.8,2.8,3.8,2.2,4.0,7.115907
8,new_2c,4.0,3.0,3.2,3.4,3.0,4.0,6.291448
9,new_3a,4.0,4.2,4.6,4.0,4.0,4.6,5.564571
10,new_3b,4.2,4.6,4.4,5.0,4.0,4.2,5.809652
11,new_3c,3.8,3.8,3.8,4.4,3.8,4.0,6.798530
12,new_4a,4.0,4.4,3.0,5.0,4.0,4.4,5.420269
13,new_4b,4.0,3.8,3.4,4.6,4.8,4.2,6.036662
14,new_4c,4.0,3.0,2.8,4.0,3.4,4.0,5.469657

In [11]:
# TODO: concat other people's scores
human_df = pd.concat(
    [
        pd.read_csv(f"human_study/data/preprocessed/cse_517_{name}.csv")
        for name in ("ethan", "harine")
    ]
).reset_index(drop=True)
human_df

,story_id,Authenticity,Emotion Provoking,Empathy,Engagement,Narrative Complexity
0,new_1a,4,4,4,5,4
1,new_1b,3,3,3,4,3
2,new_1c,4,3,3,3,3
3,new_2a,3,2,2,3,1
4,new_2b,2,2,3,3,1
5,new_2c,1,1,2,2,2
6,new_3a,1,3,2,4,2
7,new_3b,1,1,1,2,1
8,new_3c,1,1,2,1,2
9,new_4a,3,2,3,3,2
10,new_4b,2,2,2,3,2
11,new_4c,1,2,2,4,2
12,new_5a,3,4,3,5,3
13,new_5b,3,3,3,5,4
14,new_5c,2,3,2,3,2
15,new_1a,4,4,4,5,2
16,new_1b,4,4,3,3,3
17,new_1c,4,3,2,3,2
18,new_2a,3,3,2,3,2
19,new_2b,3,4,4,5,3
20,new_2c,2,2,2,2,2
21,new_3a,3,3,3,4,2
22,new_3b,4,4,3,3,4
23,new_3c,4,4,4,3,5
24,new_4a,5,4,5,4,5
25,new_4b,5,5,4,5,5
26,new_4c,4,5,3,4,3
27,new_5a,5,4,4,4,4
28,new_5b,3,3,3,3,4
29,new_5c,4,3,3,4,3

In [9]:
avg_human_df = human_df.groupby("story_id").mean().reset_index()
avg_human_df

,story_id,Authenticity,Emotion Provoking,Empathy,Engagement,Narrative Complexity
0,new_1a,4.0,4.0,4.0,5.0,3.0
1,new_1b,3.5,3.5,3.0,3.5,3.0
2,new_1c,4.0,3.0,2.5,3.0,2.5
3,new_2a,3.0,2.5,2.0,3.0,1.5
4,new_2b,2.5,3.0,3.5,4.0,2.0
5,new_2c,1.5,1.5,2.0,2.0,2.0
6,new_3a,2.0,3.0,2.5,4.0,2.0
7,new_3b,2.5,2.5,2.0,2.5,2.5
8,new_3c,2.5,2.5,3.0,2.0,3.5
9,new_4a,4.0,3.0,4.0,3.5,3.5
10,new_4b,3.5,3.5,3.0,4.0,3.5
11,new_4c,2.5,3.5,2.5,4.0,2.5
12,new_5a,4.0,4.0,3.5,4.5,3.5
13,new_5b,3.0,3.0,3.0,4.0,4.0
14,new_5c,3.0,3.0,2.5,3.5,2.5